@font-face {
  font-family: 'Retropulse'; /* Name your font family */
  src: url('../fonts/Retropulse.ttf');
}
@font-face {
  font-family: 'Last Dream';
  src: url('../fonts/Last Dream.ttf') format('truetype'),
      url('../fonts/Last Dream.woff') format('woff'),
      url('../fonts/Last Dream.woff2') format('woff2');
}

body {
  font-family: 'Retropulse', serif;
  color:#3c1518;
  background: linear-gradient(45deg, #d58936 40%, #f2f3ae 100%);
}

h1 {
  font-family: 'Last Dream', serif;
  text-align: center;
  font-size: 5rem;
  margin: 0 0 10px 0;
  color: #3c1518;
  text-shadow: 0px 4px 0px rgba(108, 24, 24, 0.3);
}

a{
  text-decoration: none;
  color: inherit;
}


.search-wrapper {
  position: relative;
}

.fa-magnifying-glass {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.search-container {
  max-width: 600px;
  margin: 0 auto 5px;
}

#search-bar {
  width: 100%;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

#suggestion {
  margin: 0;
  padding: 0px 10px 0px 10px;
  position: absolute;
  list-style: none;
  left: 15px;
  right: 15px;
  background: rgba(255, 255, 255);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  max-height: 200px; /* Set the maximum height of the suggestion box */
  overflow-y: auto;  /* Enable vertical scrolling */
  z-index: 1;
}

#suggestion li {
  margin-top: 10px;
  list-style: none;
  background-color: rgba(255, 255, 255);
  cursor: pointer;
  color: #3c1518;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr; /* Wider third column */
  grid-template-rows: auto auto 1fr; /* Rows adjust based on content */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 45px;
}

 #result {
  max-height: 600px;
 }

 .text {
  display: flex;
  flex-direction: column;
 }

 .card-result {
  grid-area: 1 / 1 / 2 / 3;
  height: 300px;
  width: 250px;
  background-color: hsla(24, 100%, 32%, 0.4);
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
  grid-area: 2 / 1 / 3 / 3; /* Change from 3 / 1 / 6 / 3 */
  width: 300px;
  background-color: hsla(24, 100%, 32%, 0.4);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

.image {
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
}

h2 {
  margin-top: 0px;
}

#map {
  grid-area: 1 / 3 / 3 / 4;
  height: 1200px;
  width: 800px;
  border-radius: 10px;
  /*position: relative;*/
  /*z-index: -1;*/
}

footer{
  margin-top: 35px;
  text-align: center;
}


